{% match userdb %}
   {% when Some with (userdb_settings) %}
userdb {
  driver = sql
  args = {{ userdb_conf_abs_path }}
}
   {% when None %}
{% endmatch %}

{% match passdb %}
   {% when Some with (passdb_settings) %}
passdb {
  driver = sql
  args = {{ passdb_conf_abs_path }}
}
   {% when None %}
{% endmatch %}

service auth {
  unix_listener {{ unix_socket_path }}  {
    mode = 0666
    user = postfix
    group = postfix
  }
}

auth_mechanisms = plain login

mail_uid = {{ shared_uid_user }}
mail_gid = {{ shared_gid_user }}

mail_location = maildir:{{ mail_location }}