html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

/************/
/* Headings */
/************/

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1.page-title,
h2.page-title,
h3.page-title {
  font-weight: 400;
}

h1.page-sub-title,
h2.page-sub-title,
h3.page-sub-title {
  font-weight: 200;
}

.page-title-container {
  padding: 1em;
  color: white;
}

/**********/
/* Colors */
/**********/

.bg-nephritis { background-color: #27ae60; }
.bg-emerald { background-color: #2ecc71; }
.bg-midnight-blue { background-color: #2c3e50; }
.bg-wet-asphalt { background-color: #34495e; }
.bg-white { background-color: white; }
.bg-alizarin { background-color: #e74c3c; }
.bg-pomegranate { background-color: #c0392b; }
.bg-pumpkin { background-color: #d35400; }
.bg-concrete { background-color: #95a5a6; }

.fg-white { color: white; }
.fg-nephritis { color: #27ae60; }
.fg-emerald { color: #2ecc71; }
.fg-midnight-blue { color: #2c3e50; }
.fg-wet-asphalt { color: #34495e; }
.fg-alizarin { color: #e74c3c; }
.fg-pomegranate { color: #c0392b; }
.fg-carrot { color: #e67e22; }
.fg-pumpkin { color: #d35400; }
.fg-concrete { color: #95a5a6; }

/********/
/* Text */
/********/

.centered-text { text-align: center; }

.lg-text { font-size: 2em; }
.xl-text { font-size: 3em; }

.tag {
  border-radius: .5em;
  padding: .5em;
}

.valign-middle { vertical-align: middle; }
.valign-super { vertical-align: super; }

/***********/
/* Spacing */
/***********/

.sm-margin-right { margin-right: 1em; }
.xs-margin-right { margin-right: .5em; }
.md-margin-right { margin-right: 2em; }
.lg-margin-right { margin-right: 3em; }

.sm-margin-top { margin-top: 1em; }
.xs-margin-top { margin-top: .5em; }
.md-margin-top { margin-top: 2em; }
.lg-margin-top { margin-top: 3em; }

.sm-margin-bottom { margin-bottom: 1em; }
.xs-margin-bottom { margin-bottom: .5em; }
.md-margin-bottom { margin-bottom: 2em; }
.lg-margin-bottom { margin-bottom: 3em; }

.sm-margin-left { margin-left: 1em; }
.xs-margin-left { margin-left: .5em; }
.md-margin-left { margin-left: 2em; }
.lg-margin-left { margin-left: 3em; }
